<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>Mycards</title>
    <script src="http://www.w3school.com.cn/jquery/jquery.js"></script>
    <script src="js/mui.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript">
			//通过config接口注入权限验证配置
//			alert(location.href.split('#')[0])
//			alert("me:"+'<%= appId %>'+"  "+'<%= timestamp %>'+"  "+'<%= nonceStr %>'+"  "+'<%= signature %>'+'<%= url %>'+"  "+'<%= ticket %>');
			wx.config({
			    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
			    appId: '<%= appId %>', // 必填，公众号的唯一标识
			    timestamp: '<%= timestamp %>', // 必填，生成签名的时间戳
			    nonceStr: '<%= nonceStr %>', // 必填，生成签名的随机串
			    signature: '<%= signature %>',// 必填，签名
			    jsApiList: [
		            'checkJsApi',
		            'onMenuShareTimeline',
		            'onMenuShareAppMessage',
		            'onMenuShareQQ',
		            'onMenuShareWeibo',
		            'hideMenuItems',
		            'chooseImage'
		        ] // 必填，需要使用的JS接口列表
			});
			//通过ready接口处理成功验证
			wx.ready(function(){
				// config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后
			});
			wx.error(function(res){

			});
    </script>
    <link href="css/mui.min.css" rel="stylesheet"/>
    
</head>
<body>
	<div class="mui-off-canvas-wrap mui-draggable">
	<div class="mui-inner-wrap">
		<header class="mui-bar mui-bar-nav">
			<h1 id="223" class="mui-title">扫描过的卡</h1>
		</header>
		<div id="mycardlist" class="mui-content">
			<ul id="cardul" class="mui-table-view mui-table-view-chevron">
			</ul>
			<!--<button id="mycardlistbtn" class="mui-btn mui-btn-positive mui-btn-block" >制作</button>-->
		</div>

		<!-- off-canvas backdrop -->
		<div class="mui-off-canvas-backdrop"></div>
	</div>
	<script  type="text/javascript" charset="utf-8">
		var infolistdata;
		
		function keytoname(key){
			
			var names ={
				'age':'年龄',
				'QQ':'QQ',
				'weibo':'微博',
				'nickname':'昵称',
				'city':'城市',
				'MOMO':'陌陌',
				'IDnumber':'身份证',
				'province':'省份',
				'country':'国家',
				'company':'公司',
				'headimgurl':'头像'
			}
			
			var name = names[key]||key;
			return name;
		}
		
		function showinfolist(){
//			console.log("datahaiziama :"+JSON.parse(infolistdata[this.id].list).userid);
//			var showinfoid={"infoid":this.id};
			
			var elid = this.id;
			console.log("123:"+JSON.stringify(infolistdata[elid]));
			var oldulid = "oldul"+elid;
			
			$.post("/getmycardinfo", infolistdata[elid], function(data){
//				alert("data:"+JSON.stringify(data));
				var oldul = document.getElementById(oldulid);
				if (oldul) {
					document.getElementById(elid).removeChild(oldul);
				}
				var cardinfoul=document.createElement('ul');
				cardinfoul.id = oldulid;
				cardinfoul.className="mui-table-view mui-table-view-chevron";
				for (var vk in data) {
					var cardinfoli = document.createElement('li');
					cardinfoli.className = "mui-table-view-cell";
					cardinfoli.innerHTML = '<h4> '+keytoname(vk)+': '+data[vk]+'</h4>';
					cardinfoul.appendChild(cardinfoli);
				}
				cardinfoul.appendChild(cardinfoli);
				document.getElementById(elid).appendChild(cardinfoul);
			});
		}
		
		$(function(){
			Date.prototype.format = function(format) {
				var date = {
					"M+": this.getMonth() + 1,
					"d+": this.getDate(),
					"h+": this.getHours(),
					"m+": this.getMinutes(),
					"s+": this.getSeconds(),
					"q+": Math.floor((this.getMonth() + 3) / 3),
					"S+": this.getMilliseconds()
					};
		       if (/(y+)/i.test(format)) {
		              format = format.replace(RegExp.$1, (this.getFullYear() + '').substr(4 - RegExp.$1.length));
		       }
		       for (var k in date) {
		              if (new RegExp("(" + k + ")").test(format)) {
		                     format = format.replace(RegExp.$1, RegExp.$1.length == 1
		                            ? date[k] : ("00" + date[k]).substr(("" + date[k]).length));
		              }
		       }
		       return format;
			}
			$.post("/getmycards",function(data){
				console.log("en:"+data.length);
      			infolistdata = {};
      			infolistdata = data;
      			console.log("接着啦："+data.length);
      			var  cardUl=document.getElementById('cardul')
      			cardUl.innerHTML='';
      			for (var i=0;i<data.length;i++){
      				var cardLi=document.createElement('li');
      				cardLi.addEventListener("tap", showinfolist);
      				cardLi.className = "mui-table-view-cell mui-collapse";
      				cardLi.id = i;
      				var newDate = new Date();
      				newDate.setTime(Date.parse(new Date(data[i].createdAt)));
      				cardLi.innerHTML = '<a class="mui-navigate-right">'+newDate.format('yyyy-MM-dd hh:mm:ss')+'</a>';
					cardUl.appendChild(cardLi);
      			}
			});
		});
			
    </script>
</body>
</html>
