<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>ME</title>
    <script src="http://www.w3school.com.cn/jquery/jquery.js"></script>
    <script src="js/mui.min.js"></script>
    <link href="css/mui.min.css" rel="stylesheet"/>
    
</head>
<body>
	<div class="mui-off-canvas-wrap mui-draggable">
	<div class="mui-inner-wrap">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-icon mui-icon-left-nav mui-pull-left"></a>
			<a href="#offCanvas" class="mui-icon mui-icon-bars mui-pull-right"></a>
			<h1 id="223" class="mui-title">管家</h1>
		</header>
		<aside id="offCanvas" class="mui-off-canvas-right">
			<ul class="mui-table-view mui-table-view-chevron mui-table-view-inverted">
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						Item 1
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						Item 2
					</a>
				</li>
				<li class="mui-table-view-cell">
					<a class="mui-navigate-right">
						Item 3
					</a>
				</li>
			</ul>
		</aside>
		<div class="mui-content">
			<ul class="mui-table-view mui-table-view-chevron">
				<li class="mui-table-view-cell mui-collapse">
					<a class="mui-navigate-right" href="#">身份信息</a>
					<ul class="mui-table-view mui-table-view-chevron">
						<li class="mui-table-view-cell">
							<div class="mui-input-row">
								<label>姓名</label><input type="text" name="nickname" placeholder="请输入您的姓名" value=<%= nickname %>>
							</div>
							<div class="mui-input-row">
								<label>年龄</label><input type="text" name="age" placeholder="请输入您的年龄" onBlur="if(/\D/.test(this.value)){alert('请输入正确的年龄！');this.value='<%= age %>';}" value=<%= age %>>
							</div>
							<div class="mui-input-row">
								<label>国际</label><input type="text" name="country" placeholder="请输入您的国家" value=<%= country %>>
							</div>
							<div class="mui-input-row">
								<label>身份证号</label><input type="text" name="IDnumber" placeholder="请输入您的身份证号" onBlur="if(/\D/.test(this.value)){alert('请输入正确的身份证号！');this.value='<%= IDnumber %>';}" value=<%= IDnumber %>>
							</div>
						</li>
					</ul>
				</li>
				<li class="mui-table-view-cell mui-collapse">
					<a class="mui-navigate-right" href="#">社交账号</a>
					<ul class="mui-table-view mui-table-view-chevron">
						<li class="mui-table-view-cell">
							<div class="mui-input-row">
								<label>QQ</label><input type="text" name="QQ" placeholder="请输入您的QQ账号" value=<%= QQ %>>
							</div>
							<div class="mui-input-row">
								<label>微博</label><input type="text" name="weibo" placeholder="请输入您的微博昵称" value=<%= weibo %>>
							</div>
							<div class="mui-input-row">
								<label>陌陌</label><input type="text" name="MOMO" placeholder="请输入您的陌陌号" value=<%= MOMO %>>
							</div>
						</li>
					</ul>
				</li>
			</ul>
			<button id="updatebutton" class="mui-btn mui-btn-positive mui-btn-block" >Block button</button>
		</div>
		<!-- off-canvas backdrop -->
		<div class="mui-off-canvas-backdrop"></div>
	</div>
	<script  type="text/javascript" charset="utf-8">
      	function updateinfo() {
//    		alert($("input")[5].name);
			var userData = {};
      		for (var i=0;i<$("input").length;i++) {
      			userData[$("input")[i].name]=$("input")[i].value;
      		}
      		userData["userid"]='<%= userid %>';
      		$.post("/test", userData,function(data){
      			alert('data:'+data);
      		});
      	}
      	var el = document.getElementById("updatebutton");
      	el.addEventListener("tap", updateinfo);
    </script>
</body>
</html>
<!--email:user.get('email'),
  					sex:user.get('sex'),
  					nickname:user.get('nickname'),
  					city:user.get('city'),
  					headimgurl:user.get('headimgurl'),
  					language:user.get('language'),
  					province:user.get('province'),
  					country:user.get('country'),
  					unionid:user.get('unionid'),
  					createat:user.get('createat')-->
